[33mcommit 1ec3985d206fbd46252f661ad302ad07389b207a[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mmaster[m[33m)[m
Author: azrakbrsfyn <azrielakbarsofyan@gmail.com>
Date:   Sat May 25 18:21:38 2024 +0700

    Menambah warna di style.css

[33mcommit cdc303aac84825b3d0d16926c4ad64e15135b201[m
Author: azrakbrsfyn <azrielakbarsofyan@gmail.com>
Date:   Sat May 25 18:15:31 2024 +0700

    Kembali ke commit sebelum penambahan color dalam style.css

[33mcommit 5a9fb98849c50765513d3c148cf1646a8e9e4a9a[m
Author: azrakbrsfyn <azrielakbarsofyan@gmail.com>
Date:   Sat May 25 18:06:57 2024 +0700

    Menambahkan color di bagian div dalam file style.css

[33mcommit 98cce567e6b2be55a2364aaef94321747036ffc7[m
Author: azrakbrsfyn <azrielakbarsofyan@gmail.com>
Date:   Sat May 25 18:03:37 2024 +0700

    Menambahkan style.css baru untuk percobaan git

[33mcommit 7ca5f485072055c76e32100343651c049c0ea44f[m
Author: azrakbrsfyn <azrielakbarsofyan@gmail.com>
Date:   Sat May 25 17:59:45 2024 +0700

    Menambahkan Seluruh File Project CBT
